# PyCity Schools Analysis

- Your analysis here
  
---

In [16]:
# Dependencies and Setup
import pandas as pd

# Store filepaths into variable
file1 = "Resources/schools_complete.csv"
file2 = "Resources/students_complete.csv"

# Read in files.
school_data = pd.read_csv(file1)
student_data = pd.read_csv(file2)

# Combine the data into a single dataset. 
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])
school_data_complete.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

In [17]:
# Calculate the total number of unique schools
school_count = school_data_complete["school_name"].nunique()
print(school_count)

15

In [18]:
# Calculate the total number of students
student_count = school_data_complete["Student ID"].nunique()
print(student_count)

39170

In [19]:
# Calculate the total budget
total_budget = school_data["budget"].sum()
print(total_budget)

24649428

In [20]:
# Calculate the average (mean) math score
average_math_score = school_data_complete["math_score"].mean()
print(average_math_score)

78.98537145774827

In [21]:
# Calculate the average (mean) reading score
average_reading_score = school_data_complete["reading_score"].mean()
average_reading_score

81.87784018381414

In [22]:
# Use the following to calculate the percentage of students who passed math (math scores greather than or equal to 70)
passing_math_count = school_data_complete[(school_data_complete["math_score"] >= 70)].count()["student_name"]
passing_math_percentage = passing_math_count / float(student_count) * 100
passing_math_percentage

74.9808526933878

In [23]:
# Calculate the percentage of students who passed reading (hint: look at how the math percentage was calculated)
passing_reading_count = school_data_complete[(school_data_complete["reading_score"] >= 70)].count()["student_name"]
passing_reading_percentage = passing_reading_count / float(student_count) *100
passing_reading_percentage

85.80546336482001

In [24]:
# Use the following to calculate the percentage of students that passed math and reading
passing_math_reading_count = school_data_complete[(school_data_complete["math_score"] >= 70) & (school_data_complete["reading_score"] >= 70)].count()["student_name"]
overall_passing_rate = passing_math_reading_count /  float(student_count) * 100
overall_passing_rate

65.17232575950983

In [25]:
# Create a high-level snapshot of the district's key metrics in a DataFrame
district_summary = pd.DataFrame(
    {"Total number of unique schools": [school_count],
     "Total Students": [student_count],
     "Total Budget": [total_budget],
     "Average math score": [average_math_score],
     "Average reading score": [average_reading_score],
     "% passing math": [passing_math_percentage],
     "% passing reading": [passing_reading_percentage],
     "% overall passing": [overall_passing_rate]
    }
)

# Formatting
district_summary["Total Students"] = district_summary["Total Students"].map("{:,}".format)
district_summary["Total Budget"] = district_summary["Total Budget"].map("${:,.2f}".format)

# Display the DataFrame
district_summary

,Total number of unique schools,Total Students,Total Budget,Average math score,Average reading score,% passing math,% passing reading,% overall passing
0,15,"39,170","$24,649,428.00",78.985371,81.87784,74.980853,85.805463,65.172326

## School Summary

In [28]:
# Get the school names
school_names = school_data["school_name"]

school_names

0         Huang High School
1      Figueroa High School
2       Shelton High School
3     Hernandez High School
4       Griffin High School
5        Wilson High School
6       Cabrera High School
7        Bailey High School
8        Holden High School
9          Pena High School
10       Wright High School
11    Rodriguez High School
12      Johnson High School
13         Ford High School
14       Thomas High School
Name: school_name, dtype: object

In [29]:
# Use the code provided to select the type per school from school_data
school_types = school_data.set_index(["school_name"])["type"]
school_types

school_name
Huang High School        District
Figueroa High School     District
Shelton High School       Charter
Hernandez High School    District
Griffin High School       Charter
Wilson High School        Charter
Cabrera High School       Charter
Bailey High School       District
Holden High School        Charter
Pena High School          Charter
Wright High School        Charter
Rodriguez High School    District
Johnson High School      District
Ford High School         District
Thomas High School        Charter
Name: type, dtype: object

In [30]:
# Calculate the total student count per school from school_data
per_school_counts = school_data.set_index(["school_name"])["size"].sort_values()
per_school_counts

school_name
Holden High School        427
Pena High School          962
Griffin High School      1468
Thomas High School       1635
Shelton High School      1761
Wright High School       1800
Cabrera High School      1858
Wilson High School       2283
Ford High School         2739
Huang High School        2917
Figueroa High School     2949
Rodriguez High School    3999
Hernandez High School    4635
Johnson High School      4761
Bailey High School       4976
Name: size, dtype: int64

In [31]:
# Calculate the total school budget
per_school_budget = school_data.set_index(["school_name"])["budget"].sort_values()
per_school_budget

school_name
Holden High School        248087
Pena High School          585858
Griffin High School       917500
Thomas High School       1043130
Wright High School       1049400
Shelton High School      1056600
Cabrera High School      1081356
Wilson High School       1319574
Ford High School         1763916
Figueroa High School     1884411
Huang High School        1910635
Rodriguez High School    2547363
Hernandez High School    3022020
Johnson High School      3094650
Bailey High School       3124928
Name: budget, dtype: int64

In [32]:
# Caculate Per student budget
per_student_budget = (per_school_budget/per_school_counts).sort_values()
per_student_budget

school_name
Wilson High School       578.0
Holden High School       581.0
Cabrera High School      582.0
Wright High School       583.0
Shelton High School      600.0
Pena High School         609.0
Griffin High School      625.0
Bailey High School       628.0
Rodriguez High School    637.0
Thomas High School       638.0
Figueroa High School     639.0
Ford High School         644.0
Johnson High School      650.0
Hernandez High School    652.0
Huang High School        655.0
dtype: float64

In [33]:
# Calculate the average test scores per school from school_data_complete
per_school_math = school_data_complete.groupby("school_name") ["math_score"].mean().sort_values()
per_school_math

school_name
Huang High School        76.629414
Figueroa High School     76.711767
Rodriguez High School    76.842711
Bailey High School       77.048432
Johnson High School      77.072464
Ford High School         77.102592
Hernandez High School    77.289752
Cabrera High School      83.061895
Wilson High School       83.274201
Griffin High School      83.351499
Shelton High School      83.359455
Thomas High School       83.418349
Wright High School       83.682222
Holden High School       83.803279
Pena High School         83.839917
Name: math_score, dtype: float64

In [34]:
per_school_reading = school_data_complete.groupby("school_name") ["reading_score"].mean()
per_school_reading

school_name
Bailey High School       81.033963
Cabrera High School      83.975780
Figueroa High School     81.158020
Ford High School         80.746258
Griffin High School      83.816757
Hernandez High School    80.934412
Holden High School       83.814988
Huang High School        81.182722
Johnson High School      80.966394
Pena High School         84.044699
Rodriguez High School    80.744686
Shelton High School      83.725724
Thomas High School       83.848930
Wilson High School       83.989488
Wright High School       83.955000
Name: reading_score, dtype: float64

In [35]:
# Calculate the number of students per school with math scores of 70 or higher from school_data_complete
students_passing_math = school_data_complete[(school_data_complete["math_score"] >= 70)]
school_students_passing_math = students_passing_math.groupby(["school_name"]).size().sort_values()
school_students_passing_math

school_name
Holden High School        395
Pena High School          910
Griffin High School      1371
Thomas High School       1525
Shelton High School      1653
Wright High School       1680
Cabrera High School      1749
Ford High School         1871
Huang High School        1916
Figueroa High School     1946
Wilson High School       2143
Rodriguez High School    2654
Hernandez High School    3094
Johnson High School      3145
Bailey High School       3318
dtype: int64

In [36]:
# Calculate the number of students per school with reading scores of 70 or higher from school_data_complete
students_passing_reading = school_data_complete[(school_data_complete["reading_score"] >= 70)]
school_students_passing_reading = students_passing_reading.groupby(["school_name"]).size().sort_values()
school_students_passing_reading

school_name
Holden High School        411
Pena High School          923
Griffin High School      1426
Thomas High School       1591
Shelton High School      1688
Wright High School       1739
Cabrera High School      1803
Ford High School         2172
Wilson High School       2204
Huang High School        2372
Figueroa High School     2381
Rodriguez High School    3208
Hernandez High School    3748
Johnson High School      3867
Bailey High School       4077
dtype: int64

In [37]:
# Use the provided code to calculate the number of students per school that passed both math and reading with scores of 70 or higher
students_passing_math_and_reading = school_data_complete[(school_data_complete["reading_score"] >= 70) & (school_data_complete["math_score"] >= 70)]
school_students_passing_math_and_reading = students_passing_math_and_reading.groupby(["school_name"]).size().sort_values()
school_students_passing_math_and_reading

school_name
Holden High School        381
Pena High School          871
Griffin High School      1330
Ford High School         1487
Thomas High School       1487
Huang High School        1561
Figueroa High School     1569
Shelton High School      1583
Wright High School       1626
Cabrera High School      1697
Wilson High School       2068
Rodriguez High School    2119
Hernandez High School    2481
Johnson High School      2549
Bailey High School       2719
dtype: int64

In [38]:
# Use the provided code to calculate the passing rates
per_school_passing_math = school_students_passing_math / per_school_counts * 100
per_school_passing_reading = school_students_passing_reading / per_school_counts * 100
overall_passing_rate = school_students_passing_math_and_reading / per_school_counts * 100
overall_passing_rate.sort_values()

school_name
Rodriguez High School    52.988247
Figueroa High School     53.204476
Huang High School        53.513884
Hernandez High School    53.527508
Johnson High School      53.539172
Ford High School         54.289887
Bailey High School       54.642283
Holden High School       89.227166
Shelton High School      89.892107
Wright High School       90.333333
Pena High School         90.540541
Wilson High School       90.582567
Griffin High School      90.599455
Thomas High School       90.948012
Cabrera High School      91.334769
dtype: float64

In [47]:
school_names

0         Huang High School
1      Figueroa High School
2       Shelton High School
3     Hernandez High School
4       Griffin High School
5        Wilson High School
6       Cabrera High School
7        Bailey High School
8        Holden High School
9          Pena High School
10       Wright High School
11    Rodriguez High School
12      Johnson High School
13         Ford High School
14       Thomas High School
Name: school_name, dtype: object

In [51]:
# Create a DataFrame called `per_school_summary` with columns for the calculations above.
per_school_summary = pd.DataFrame(
    {"School name": [school_names],
     "School type": [school_types],
     "Total students": [per_school_counts],
     "Total school budget": [per_school_budget],
     "Per student budget": [per_student_budget],
     "Average math score": [per_school_math],
     "Average reading score": [per_school_reading],
     "% passing math": [per_school_passing_math],
     "% passing reading": [per_school_passing_reading],
     "% overall passing": [overall_passing_rate]
    }
)

# Formatting
#per_school_summary["Total school budget"] = per_school_summary["Total school budget"].map("{:,.2f}".format)
#per_school_summary["Per student budget"] = per_school_summary["Per student budget"].map("${:,.2f}".format)

# Display the DataFrame
per_school_summary
#per_school_summary.style.set_properties(**{"text-align": "center"})

,School name,School type,Total students,Total school budget,Per student budget,Average math score,Average reading score,% passing math,% passing reading,% overall passing
0,0 Huang High School 1 Figueroa Hi...,school_name Huang High School District ...,school_name Holden High School 427 Pena...,school_name Holden High School 248087 P...,school_name Wilson High School 578.0 Hol...,school_name Huang High School 76.629414...,school_name Bailey High School 81.033963...,school_name Bailey High School 66.680064...,school_name Bailey High School 81.933280...,school_name Bailey High School 54.642283...

## Highest-Performing Schools (by % Overall Passing)

In [ ]:
# Sort the schools by `% Overall Passing` in descending order and display the top 5 rows.
top_schools = overall_passing_rate.sort_values(ascending=False)
top_schools.head(5)

## Bottom Performing Schools (By % Overall Passing)

In [ ]:
# Sort the schools by `% Overall Passing` in ascending order and display the top 5 rows.
bottom_schools = overall_passing_rate.sort_values(ascending=True)
bottom_schools.head(5)

## Math Scores by Grade

In [ ]:
per_school_reading = school_data_complete.groupby("school_name") ["reading_score"].mean()
per_school_reading

In [ ]:
# Use the code provided to separate the data by grade
ninth_graders = school_data_complete[(school_data_complete["grade"] == "9th")]
tenth_graders = school_data_complete[(school_data_complete["grade"] == "10th")]
eleventh_graders = school_data_complete[(school_data_complete["grade"] == "11th")]
twelfth_graders = school_data_complete[(school_data_complete["grade"] == "12th")]

# Group by `school_name` and take the mean of the `math_score` column for each.
ninth_grade_math_scores = ninth_graders.groupby("school_name") ["math_score"].mean()
tenth_grader_math_scores = tenth_graders.groupby("school_name") ["math_score"].mean()
eleventh_grader_math_scores = eleventh_graders.groupby("school_name") ["math_score"].mean()
twelfth_grader_math_scores = twelfth_graders.groupby("school_name") ["math_score"].mean()

# Combine each of the scores above into single DataFrame called `math_scores_by_grade`
math_scores_by_grade = pd.DataFrame(
    {"9th": [ninth_grade_math_scores],
     "10th": [tenth_grader_math_scores],
     "11th": [eleventh_grader_math_scores],
     "12th": [twelfth_grader_math_scores],
    }
)

# Minor data wrangling
reading_scores_by_grade = math_scores_by_grade[["9th", "10th", "11th", "12th"]]
math_scores_by_grade.index.name = None

# Display the DataFrame
math_scores_by_grade

## Reading Score by Grade

In [ ]:
# Use the code provided to separate the data by grade
ninth_graders = school_data_complete[(school_data_complete["grade"] == "9th")]
tenth_graders = school_data_complete[(school_data_complete["grade"] == "10th")]
eleventh_graders = school_data_complete[(school_data_complete["grade"] == "11th")]
twelfth_graders = school_data_complete[(school_data_complete["grade"] == "12th")]

# Group by `school_name` and take the mean of the the `reading_score` column for each.
ninth_grade_reading_scores = ninth_graders.groupby("school_name") ["reading_score"].mean()
tenth_grader_reading_scores = tenth_graders.groupby("school_name") ["reading_score"].mean()
eleventh_grader_reading_scores = eleventh_graders.groupby("school_name") ["reading_score"].mean()
twelfth_grader_reading_scores = twelfth_graders.groupby("school_name") ["reading_score"].mean()

# Combine each of the scores above into single DataFrame called `reading_scores_by_grade`
reading_scores_by_grade = pd.DataFrame(
    {"9th": [ninth_grade_reading_scores],
     "10th": [tenth_grader_reading_scores],
     "11th": [eleventh_grader_reading_scores],
     "12th": [twelfth_grader_reading_scores],
    }
)

# Minor data wrangling
reading_scores_by_grade = reading_scores_by_grade[["9th", "10th", "11th", "12th"]]
reading_scores_by_grade.index.name = None

# Display the DataFrame
reading_scores_by_grade

## Scores by School Spending

In [ ]:
# Establish the bins
spending_bins = [0, 585, 630, 645, 680]
labels = ["<$585", "$585-630", "$630-645", "$645-680"]

In [ ]:
# Create a copy of the school summary since it has the "Per Student Budget"
school_spending_df = per_school_summary.copy()

In [ ]:
# Use `pd.cut` to categorize spending based on the bins.
school_spending_df["Spending Ranges (Per Student)"] = pd.cut(school_spending_df["Per student budget"], bins=spending_bins, labels = labels, include_lowest = True)
school_spending_df

In [ ]:
#  Calculate averages for the desired columns.
spending_math_scores = school_spending_df.groupby(["Spending Ranges (Per Student)"])["Average Math Score"].mean()
spending_reading_scores = school_spending_df.groupby(["Spending Ranges (Per Student)"])["Average Reading Score"].mean()
spending_passing_math = school_spending_df.groupby(["Spending Ranges (Per Student)"])["% Passing Math"].mean()
spending_passing_reading = school_spending_df.groupby(["Spending Ranges (Per Student)"])["% Passing Reading"].mean()
overall_passing_spending = school_spending_df.groupby(["Spending Ranges (Per Student)"])["% Overall Passing"].mean()

In [ ]:
# Assemble into DataFrame
spending_summary =

# Display results
spending_summary

## Scores by School Size

In [ ]:
# Establish the bins.
size_bins = [0, 1000, 2000, 5000]
labels = ["Small (<1000)", "Medium (1000-2000)", "Large (2000-5000)"]

In [ ]:
# Categorize the spending based on the bins
# Use `pd.cut` on the "Total Students" column of the `per_school_summary` DataFrame.

per_school_summary["School Size"] =
per_school_summary

In [ ]:
# Calculate averages for the desired columns.
size_math_scores = per_school_summary.groupby(["School Size"])["Average Math Score"].mean()
size_reading_scores = per_school_summary.groupby(["School Size"])["Average Reading Score"].mean()
size_passing_math = per_school_summary.groupby(["School Size"])["% Passing Math"].mean()
size_passing_reading = per_school_summary.groupby(["School Size"])["% Passing Reading"].mean()
size_overall_passing = per_school_summary.groupby(["School Size"])["% Overall Passing"].mean()

In [ ]:
# Create a DataFrame called `size_summary` that breaks down school performance based on school size (small, medium, or large).
# Use the scores above to create a new DataFrame called `size_summary`
size_summary =

# Display results
size_summary

## Scores by School Type

In [ ]:
# Group the per_school_summary DataFrame by "School Type" and average the results.
average_math_score_by_type = per_school_summary.groupby(["School Type"])["Average Math Score"].mean()
average_reading_score_by_type = per_school_summary.groupby(["School Type"])["Average Reading Score"].mean()
average_percent_passing_math_by_type = per_school_summary.groupby(["School Type"])["% Passing Math"].mean()
average_percent_passing_reading_by_type = per_school_summary.groupby(["School Type"])["% Passing Reading"].mean()
average_percent_overall_passing_by_type = per_school_summary.groupby(["School Type"])["% Overall Passing"].mean()

In [ ]:
# Assemble the new data by type into a DataFrame called `type_summary`
type_summary =

# Display results
type_summary